body {
  font-family: Arial, sans-serif;
  background-color: rgba(235, 246, 208, 0.651);
  padding: 1px;
  justify-content: center;
  align-items: center; 
}

h2 {
  text-align: center;
  font-size: 2rem;
}

form {
  background: url('0.jpg') no-repeat;
  background-size: 1150px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  margin: 20px;
  border: none;
}

legend {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 10px 0;  
}

#error-message{
  color: red;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 3px;
}

input[type="text"], 
input[type="number"] ,
input[type="tel"], 
input[type="email"], 
textarea {
  width: 300px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
}

textarea{
  width: 400px;
  height: 150px;
  margin-top: 15px;
}

select {
  width: 310px;
  padding: 5px;
  margin-bottom: 10px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.checkbox-label {
  display: block;
}

.submit_button{
  width: 120px;
  height: 40px;
  background-color: rgb(5, 45, 99);
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px;
  border-radius: 15px;
}

.submit_button:hover{
  background-color:rgba(22, 95, 87, 0.982)
}

.highlight {
  border: 2px solid rgb(23, 211, 245);
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px 0;
}